*{
  margin: 0%;
  box-sizing: border-box;
}

/* <-- App --> */
.App {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  width: 98%;
  margin: auto;
  background-image: url("./image/bangkok.jpg");
  background-attachment: fixed;
  background-position-x:5% ;
  background-position-y: 5%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}
/* <-- Header --> */
.App-header{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1% 0;
  background-image: linear-gradient(rgb(14, 13, 13),rgb(59, 57, 57),rgb(172, 165, 165));

}

.navigate{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: black;

}
.a-link{
  color: black;
  text-decoration: blanchedalmond;
  display: block;
}
.name{
  width: 50%;
}

/* <---- Home ----> */

.info-section {
  margin-top: 7%;
  width: 100%;
  padding-top: 7%;
  display: flex;
  justify-content: space-evenly;
}
.info{
  width: 50%;
  height: auto;
  position: relative;
 
}
.info-inner{
  width: 100%;
  height: 100%;
  /* background-color: white;  */
  border: 5px solid  rgb(63, 43, 245);
  animation: rotate 1.5s linear infinite;
  background-color: black;
}
@keyframes rotate{
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.image {
  width: 50%;
  border: 5px solid  rgb(63, 43, 245);
}

.ml6 {
  position: relative;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
.ml2 {
  font-weight: 900;
  font-size: 2.1em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
.text{
  width: 100%;
  padding: 5% 5% 0% 5%;
  position: relative;
  animation-name: mymove;
  animation-duration: 5s;
}
.info-text{
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
}
@keyframes mymove{
  from {top: -300px;}
  to {top: 0px;}
}

.expand{
  padding: 5px;
  font-size: 1rem;
  /* color: black; */
  text-shadow: none;
  background-image: none;
  animation: none;
}
.collap:hover{
  font-size: 1.5rem;
  color: #e600ad;
  text-shadow: none;
}
.inner-expand{
  margin-top: 30px;
  text-shadow: none;
  text-align: start;
} 
.education{

  font-size: 1.5rem;
  text-shadow: none;
  text-align: center;

}
.education :hover{
  font-size: 1.2rem;
  color: #e600ad;
}

.education-info{
  width: 100%;
  padding: 5% 5% 0% 5%;
  position: relative;
  animation-name: moveright;
  animation-duration: 5s;
}
@keyframes moveright{
  from {left: 500px;}
  to {left: 0px;}
}
.experience{
  font-weight: 600;
}
.experience-text{
  padding-left: 5%;
}
.like{
  padding-left: 5%;
}
a{
  text-decoration: none;
}

.experience :hover{
  font-size: 1.3rem;
}
/* <-- Project section style --> */
.project{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-image: url("./image/Untitled.png");
  align-items: center;
}
.project-info{
  width: 50%;
  margin-top: 2%;
  color: black;

}
.project-video{
  width: 50%;
  margin-top: 2%;
  border: 5px dotted violet;
  border-radius: 5px;
}
.h3-project-text{
  font-size: 1.8rem;
}
.h4-project-text{
  font-size: 1.6rem;
}
.project-text{
  font-size: 1.2rem;
  text-align: center;
  padding-left: 5%;
}
.project-info a{
  border: double;
  border-radius: 8px;
  text-shadow: none;
  color: black;
  padding: 2px;
  background-image: linear-gradient(rgb(82, 81, 81), lightgray, white);
  font-size: 1.6rem;
}
/* <--- skill section style --> */
.skill-section{
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-decoration: inherit;
  background-image: linear-gradient(white,rgb(245, 238, 238), rgb(247, 165, 196));

}
.tech-skill{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 5px double black;
  border-right: solid black;
  
}
.f-b{
  font-size: 2rem;
  color: #0073e6;
  font-weight: 800;
}
.skill-title{
  width: 100%;
  padding: 2% 0;
}
.frontend-skill{
  width: 47%;
  border: groove 5px;
  margin-bottom: 2%;
}
.backend-skill{
  width: 47%;
  border: groove 5px;
  margin-bottom: 2%;
}
.other-skill{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 5px double black;
  border-left: solid black;
}
.skill-list{
  font-size: 1.5rem;
  color: black;
  text-shadow: none ;
}
.text-skill{
  font-size: 1.8rem;
  color: black;
  text-shadow: none ;
  
}
.text-title{
  font-size: 2.1rem;
  color: rgb(7, 13, 17);
  text-shadow: none;
  font-weight: 600;
}
.design{
  display: none;
}

/* <-- Contact --> */
.mail-section{
  width: 100%;
  padding-top: 5%;
  background-image: linear-gradient(rgb(247, 165, 196),rgb(245, 238, 238),white);
}
label{
  margin:0 10px;
  font-size: 1.3rem;
  
}
input{

  font-size: 1.5rem;
  margin: 5px 0;
}

.message-label{
  width: 90%;
}
.message-input{
  width: 40%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.btn{
  color: white;
  margin-top: 5px;
  font-size: 1.5rem;
  border-radius: 20px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  background-image: linear-gradient(rgb(14, 13, 13),rgb(59, 57, 57),rgb(172, 165, 165));
  box-shadow: 10px 15px 20px rgb(133, 131, 133);
}


/* <-- Footer -->  */
.footer-section{
  width: 100%;
  margin-bottom: 2%;
  padding-top: 10%;
  background-color: white;
}
.copyright{
  font-size: 1rem;
}
.back-to-top{
  font-size: 1.3rem;
}

/* <--- Responsive design --> */
@media only screen and (max-width: 1300px){
  /* <-- head navbar --> */

  .navigate{
    width: 60%;
  }
  .name{
    width: 40%;
    display: flex;
    justify-content: center;
  }
  .span-view{
    font-size: 1.8rem;
  }
  .name h1{
    font-size: 2rem;
    
  }

  /* <-- home page  --> */
  .info-text{
    font-size: 1.3rem;
  }
  .education{
    font-size: 1.3rem;
  }
  .ml6 .letter{
    font-size: 1.5rem;
  }

  .ml2 {
    font-weight: 900;
    font-size: 2.9rem;
  }
  .d-block{
    width: 100%;
    height: 450px;
  }

  /* <-- Skill section --> */

  .f-b{
    font-size: 1.4rem;
  }
  .text-title{
    font-size: 1.6rem;
  }
  .skill-list{
    font-size: 1.3rem;
    line-height: 1;
  }
  .text-skill{
    font-size: 1.3rem;
    line-height: 1.5;
  }
  /* <--- project section style --> */
  .h3-project-text{
    font-size: 1.3rem ;
  }
  .h4-project-text{
    font-size: 1.3rem;
  }
  .project-text{
    font-size: 1.2rem;
    padding:0% 10% 0% 15% ;
    text-align: start;
  }
  .project-info a{
    border: double;
    border-radius: 8px;
    text-shadow: none;
    color: black;
    padding: 2px;
    background-image: linear-gradient(rgb(82, 81, 81), lightgray, white);
    font-size: 1.6rem;
  }

}

@media only screen and (max-width: 1024px) {
  *{margin: 0;
  overflow-y: scroll;
  scroll-behavior: smooth !important;
  -webkit-overflow-scrolling: touch;
  }


/* <-- App style --> */
  .App{
    padding: 0;
    overflow: auto;

  }
  .App-header{
  width: 100%;
  margin: 0;
  }
  /* <-- head navbar --> */
  .icon{
    display: block;
    
  }
  .design{
    display:none;
  }
  .span-view{
    display: none;
  }
  .name h1{
    font-size: 1.8rem;
  }

   /* <-- home page  --> */

   .info-section{
      display: block;
  }
  .info{
    width: 100%;
    height: auto;
  }
  .info-text{
    font-size: 1.2rem;
  }
  .education{
    font-size: 1.1rem;
  }
  .experience-text{
    padding-left: 5%;
  }
  .like{
    padding-left: 5%;
  }
  /* <-- home page slide section --> */
  .image{
    margin-top: 5%;
    width: 100%;
    border: none;
  }

  @media only screen and (max-width: 768px) {

    .d-block{
    width: 100%;
    height: 400px;
    }
  }
  .ml6 .letter{
    font-size: 1.5rem;
  }

  .ml2 {
    font-weight: 900;
    font-size: 2rem;
  }

   /* <-- Skill section --> */

   .skill-section{
    display: flex;
    flex-direction: column;
  }

  .tech-skill{
    width: 100%;
    border-right: 5px double black;
  }
  .f-b{
    font-size: 1.3rem;
  }
  .text-title{
    font-size: 1.5rem;
  }
  .skill-list{
    font-size: 1.2rem;
    line-height: 1;
  }
  .other-skill{
    width: 100%;
    border-left: 5px double black;
  }
  .text-skill{
    font-size: 1.2rem;
    line-height: 1.5;
  }
   /* <--- project section style --> */
   .project{
    padding-top: 2%;
    flex-direction: column-reverse;
  }
  .project-video{
    width: 100%;
    margin-bottom: 2%;

  }
  .project-info{
    width: 100%;
  }
  .project-name{
    font-size: 1.5rem;
    font-weight: 550;
  }
  .h3-project-text{
    font-size: 1.3rem ;
  }
  .h4-project-text{
    font-size: 1.3rem;
  }
  .project-text{
    font-size: 1.2rem;
    padding:0% 10% 0% 15% ;
    text-align: start;
  }
  .project-info a{
    border: double;
    border-radius: 8px;
    text-shadow: none;
    color: black;
    padding: 2px;
    background-image: linear-gradient(rgb(82, 81, 81), lightgray, white);
    font-size: 1.6rem;
  }

   /*<-- contact section style --> */
   .mail-section h4{
    font-size: 1.3rem;
  }
  label{
    font-size: 1.15rem;
  }
  :placeholder-shown{
    font-size: 1.15rem;
  }
  .message-input{
    width: 90%;
    height: 120px;
    font-size: 14px;
  }
  .btn{
    font-size: 1.3rem;
    border-radius: 10px;
  }
  .copyright{
    color: black;
    font-size: 0.85rem;
  }
  .back-to-top{
    font-size: 1rem;
  }

}


@media only screen and (max-width: 555px)  {
  *{
    margin: 0;
    /* overflow-y: scroll;
    scroll-behavior: smooth !important;
    -webkit-overflow-scrolling: touch; */


  }
  /* <-- App style --> */
  .App{
    padding: 0;
    overflow: auto;

  }
  .App-header{
  width: 100%;
  margin: 0;
}
  /* <-- head navbar --> */
  .span-view{
    display: none;
  }
  .a-link{
    font-size: 1.2rem;
  }
  .icon{
    display: none;
  }
  .design{
    display: block;
  }
  .name h1{
    font-size: 1rem;
  }
   /* <-- home page  --> */

  .info-section{
    display: block;
  }
  .info{
    width: 100%;
    height: auto;
  }
  .info-text{
    font-size: 0.9rem;
  }
  .education{
    font-size: 1.1rem;
  }
  .experience-text{
    padding-left: 5%;
  }
  .like{
    padding-left: 5%;
  }
   /* <-- home page slide section --> */
  .image{
    width: 100%;
    border:solid white;
  }
  .d-block{
    width: 100%;
    height: 250px;
  }
  .ml6 .letter{
    font-size: 1rem;
  }

  .ml2 {
    font-weight: 900;
    font-size: 1.2rem;
  }
  .slide-caption{
    font-size: 1.2rem;
  }
  /* <-- Skill section --> */
  .skill-section{
    display: flex;
    flex-direction: column;
  }
  .tech-skill{
    width: 100%;
    border-right: 5px double black;
  }
  .frontend-skill{
    width: 90%;
  }
  .backend-skill{
    width: 90%;
  }
  .skill-list{
    font-size: 1rem;
    line-height: 1.5;
  }
  .icon-img{
    width: 20px;
  }
  .f-b{
    font-size: 1.1rem;
  }
  .text-title{
    font-size: 1.2rem;
  }
  .other-skill{
    width: 100%;
    border-left: 5px double black;
  }
  .text-skill{
    font-size: 1rem;
    line-height: 1.5;
  }
  /* <--- project section style --> */
  .project{
    padding-top: 2%;
    flex-direction: column;
  }
  .project-video{
    width: 100%;
    margin-bottom: 2%;

  }
  .project-info{
    width: 100%;
  }
  .project-info a{
    border: double;
    border-radius: 8px;
    background-image: linear-gradient(gray, lightgray, white);
    font-size: 1.3rem;
  }
  .project-name{
    font-size: 1.2rem;
    font-weight: 550;
  }
  .h3-project-text{
    font-size: 1rem ;
  }
  .h4-project-text{
    font-size: 1rem;
  }
  .project-text{
    font-size: 0.8rem;
    padding:0 7%;
    text-align: start;
  }

  /*<-- contact section style --> */
  .mail-section h4{
    font-size: 1.15rem;
  }
  .mail-section h5{
    font-size: 1.15rem;
  }
  label{
    font-size: 1rem;
  }
  :placeholder-shown{
    font-size: 1rem;
  }
  .message-input{
    width: 90%;
    height: 120px;
    font-size: 14px;
  }
  .btn{
    font-size: 1rem;
    border-radius: 10px;
  }
  .btn:hover{
    color: chartreuse;  
  }
  .copyright{
    color: black;
    font-size: 0.7rem;
  }
  .back-to-top{
    font-size: 1rem;
  }
}

